/**
 * @name Pinkish
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://fonts.googleapis.com/css2?family=ğ™’ğ™ğ™ğ™©ğ™šğ™£ğ™šğ™®:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

:root {
  --background: url('https://i.imgur.com/G22QUl3.jpeg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 232,98,242;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.15;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: ğ™’ğ™ğ™ğ™©ğ™šğ™£ğ™šğ™®;
  --textbrightest: 235,191,249;
  --textbrighter: 232,165,229;
  --textbright: 232,32,217;
  --textdark: 189,68,187;
  --textdarker: 217,81,194;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


